* {
  box-sizing: border-box;
}

/* body {
  height: 100%;
  background-color: #7656d6;
  color: #333;
  font-family: "Roboto", sans-serif;
  text-align: center;
  letter-spacing: 0.15em;
  font-size: 22px;
} */

.slider {
  height: 50rem;
  margin: 0 auto;
  position: relative;

  background-size: contain;
}

/* .wrapper {
  overflow: hidden;
  position: relative;
  width: 400px;
  height: 300px;
  z-index: 1;
} */

.slides {
  position: absolute;

  left: 0;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}
.slider-img {
  /* height: 50rem; */
  width: 100%;
}

.slides.shifting {
  transition: left 0.2s ease-out;
}

.slide {
  display: flex;
  width: 100vw;
  justify-content: center;
  transition: all 1s;
  position: relative;

  border-radius: 2px;
}
/* 
.slider.loaded {
  .slide:nth-child(2),
  .slide:nth-child(7) {
    background: #ffcf47;
  }
  .slide:nth-child(1),
  .slide:nth-child(6) {
    background: #7adcef;
  }
  .slide:nth-child(3) {
    background: #3cff96;
  }
  .slide:nth-child(4) {
    background: #a78df5;
  }
  .slide:nth-child(5) {
    background: #ff8686;
  }
} */

.control {
  position: absolute;
  top: 50%;
  height: 6.5rem;
  width: 6.5rem;
  background: #fff;
  border-radius: 50px;
  margin-top: -20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.prev,
.next {
  background-size: 2.2rem;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transform: translate(0, -50%);
}

.prev {
  background-image: url(./svgs/left-arrow.svg);
  top: 50%;
  left: 1%;
}

.next {
  background-image: url(./svgs/Arrow---Left.svg);
  top: 50%;
  right: 1%;
}

.slider--1 {
  background-image: url(./pngs/AimDuos\ Banner.png);
  height: 50rem;
  width: 100vw;
  background-size: 100%;
  background-repeat: no-repeat;
}

.slider--2 {
  background-image: url(./pngs/General\ banner\ GD.png);
  height: 50rem;
  width: 100vw;
  background-size: 100%;
  background-repeat: no-repeat;
}

.slider--3 {
  background-image: url(./pngs/PokemonUnite-banner.png);
  height: 50rem;
  width: 100vw;
  background-size: 100%;
  background-repeat: no-repeat;
}
