* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 50%;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  background-color: #181818;
  color: #fff9f2;
}

main {
  background: linear-gradient(
      180deg,
      #181818 3.8%,
      rgba(9, 10, 12, 0.76) 49.51%,
      #181818 93.68%
    ),
    url("e-sport-arena-glow-scenery-3d-rendering-illustration\ 1.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 80%;
  background-position: center;
}

section {
  margin-bottom: 5rem;
}
section:last-child {
  margin-bottom: 0;
}
@font-face {
  font-family: Montage;
  src: url(./Montage-Demo\ 1.ttf);
}
span {
  color: white;
}
/* nav */

.container {
  max-width: 180rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.container-mobile {
  width: 235px;
  height: 93px;
}
.container-host {
  max-width: 140rem;
  margin: 0 auto;
}

/* section1 */
.banner {
  width: 100%;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem 2rem 4rem;
  background-color: black;
  margin: 0;
}

.gd-logo {
  /* width: 23.9rem; */
  height: 3rem;
}
/* footer */

.footer-logo {
  /* width: 21rem; */
  height: 3.5rem;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 10rem;
}

.footer-items {
  display: grid;
  grid-template-columns: auto auto;
  list-style: none;
  gap: 6rem;
  justify-items: center;
  align-items: center;
}
.footer-text {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.social-icons {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.social-icon {
  font-size: 4rem;
}
.footer-items li a:link,
.footer-items li a:visited {
  text-decoration: none;
  color: #717171;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3rem;
  transition: all 0.3s;
}

.footer-items li a:hover,
.footer-items li a:active {
  color: #f5f5f7;
}

/* slider */

/* .slider {
  
  height: 40rem;
  margin: 0 auto;
  position: relative;
  background: url(./Rectangle\ 1052.png);
  background-size: contain;


} */

/* .slide {
  position: absolute;
  top: 10%;

  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;


  transition: transform 1s;
}

.

-img {
  margin-right: 10rem;
  height: 40rem;
  width: 160rem;
}

.slider__btn {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background: #fff;
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 6.5rem;
  width: 6.5rem;

  cursor: pointer;

  filter: drop-shadow(0px 4px 12px #1d1d1f);
}

.arrow {
  height: 2.2rem;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}
*/

.dots {
  position: absolute;
  bottom: -6%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #fcb368;

  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 0.4rem;
  transition: all 0.5s;
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  width: 2rem;
  background-color: #ff8100;
  border-radius: 10rem !important;
  opacity: 1;
}

/* hero-section */

.header-logo {
  height: 3rem;
}

.header__center {
  font-size: 3.2rem;
  font-family: "Poppins";
  display: grid;
  grid-template-columns: 1fr max-content 10fr;
  grid-column-gap: 1.2rem;
  font-weight: 600;
  align-items: center;
  margin-bottom: 6.7rem;
}

.header__center::before,
.header__center::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #646464;
}

.tournament-logo {
  width: 100%;
}

.mode--slots {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.mode--slots h3 {
  display: inline-block;
}

.details {
  display: flex;
  justify-content: space-between;
}
.prize {
  text-align: start;
}
.date {
  text-align: end;
}
.dot-cont {
  height: 4px;
  width: 4px;
  background-color: #d9d9d9;
  border-radius: 50%;
}
/* 
.dot-cont {
  display: flex;
  align-items: center;
} */

.tourney-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}

.divider {
  height: 70rem;
  width: 1px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
      180deg,
      rgba(42, 45, 47, 0) 0.01%,
      #343739 49.69%,
      rgba(42, 45, 47, 0) 100%
    )
    1;
}

.divider-horizontal {
  width: 163.5rem;
  height: 0px;
  /* color: white; */
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
      90deg,
      rgba(42, 45, 47, 0) 0.01%,
      #343739 49.69%,
      rgba(42, 45, 47, 0) 100%
    )
    1;

  margin: 9.5rem 0;
  grid-column: 1/-1;
}

.live-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.live {
  width: 5rem;
  height: 2.2rem;
  display: flex;
  gap: 2px;
  padding: 0 3px;

  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  color: red;
  font-size: 1.4rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  /* font-size: 2rem; */
}
.blink-dot {
  height: 1rem;
  width: 1rem;
  background-color: red;
  border-radius: 50%;
  animation: animation 1.5s ease-in infinite;
}

@keyframes animation {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.reg--status {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.1rem;
  /* identical to box height */

  display: flex;
  align-items: center;
  justify-content: center;

  /* BLACK BACKGROUND TILE 2 */
}
.open {
  width: 15rem;
  height: 2.1rem;
  color: #1c1c1c;
  background-color: #34a853;
}

.ongoing {
  width: 9.8rem;
  height: 2.2rem;
  color: #1c1c1c;

  background: linear-gradient(97.53deg, #feb810 0%, #f67206 100%);
}

.closed {
  width: 17.6rem;
  height: 2.2rem;
  color: #1c1c1c;
  background-color: #787878;
}

.completed {
  width: 9.8rem;
  height: 2.2rem;
  color: #1c1c1c;
  background-color: #dd2e44;
}

.details-mobile {
  display: flex;
  flex-direction: column;
}
.btn-container-mobile {
  grid-column: 2/3;
}
.tourney-details--mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  grid-row: 1/3;
}

.modal--mobile {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 330px;
  height: 100px;
  margin: 0 3rem 0 3rem;
}

.heading-secondary--mobile {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4rem;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #ffffff;
}

.mode--mobile h3,
.slot--mobile h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.6rem;

  color: #717171;
}

.mode--mobile span,
.slot--mobile span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.6rem;
  margin-left: 1rem;

  color: #fff;
}

.prize--mobile h3,
.date--mobile h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.6rem;

  color: #717171;
}

.prize--mobile p,
.date--mobile p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 3.9rem;
  margin-left: 1rem;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #ffffff;
}

.date--mobile {
  display: flex;
  align-items: center;
}

.prize--mobile {
  display: flex;
  align-items: center;
}

.reg--status--mobile {
  width: 50px;
  height: 16px;
  justify-self: end;
}

.reg--status--mobile p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 12px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* BLACK BACKGROUND TILE 2 */

  color: #1c1c1c;
}

.divider--mobile {
  width: 312px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
      90deg,
      rgba(42, 45, 47, 0) 0.01%,
      #343739 49.69%,
      rgba(42, 45, 47, 0) 100%
    )
    1;
}

.game-logo img {
  opacity: 50%;
  filter: brightness(0) invert(1);
  transition: all 0.3s;
}

.game-logo :hover {
  opacity: 100%;
  filter: none;
}

.games {
  padding-bottom: 5rem;
}

/* registration page */
.hero-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* gap: 4rem; */
  margin-top: 10.8rem;
  text-align: center;
}
.reg-hero-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 6.4rem;
  /* line-height: 9.6rem; */
}

.hero-container p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 30px;
}

.hero-container span a {
  color: #ff8100;
  text-decoration: none;
}

.cnclredirect {
  text-decoration: none;
}

.heading-registration-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 10rem 0;
  padding: 10rem;
  border-radius: 36px;
  background: rgba(27, 27, 27, 0.6);
}

.heading-registration-text h1 {
  font-size: 4rem;
  margin-bottom: 28px;
}
